server:
  port: 8071

spring:
  application:
    name: "configserver"
  profiles:
     active: native
#    active: git
  cloud:
    config:
      server:
       native:
#       search-locations: "classpath:/config"
       search-locations: "file:///home//gsb//Desktop//Study//Courses//MS-MadanReddy" #6.84

